body {
    font-family: Arial, sans-serif;
    background-image: url('bg1.png');
    background-size: cover;
    background-position: center;
}
.icon-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.icon {
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.content {
    display: none;
    margin-top: 50px;
}
.content.active {
    display: block;
}
#chart {
    width: 600px;
    height: 400px;
}
